---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import Projects from "../components/sections/Projects.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import GlowLineSeparator from "../components/ui/separator/GlowLineSeparator.astro";
---


<html lang="en" data-theme="dark" class="dark">
  <head>
    <BaseHead title="Portfolio" description="Selected projects and playbooks" />
  </head>
  <body>
    <Header />
    <main>
      <HeroSection title="Seleccionar proyectos" subtitle="Algunas aplicaciones, plantillas y manuales que creé o esta en proceso." />
      <Projects />
      <GlowLineSeparator />
    </main>
    <Footer />
  </body>
</html>


